@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Poppins:wght@300;400&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

body {
  height: 100vh;
  background: linear-gradient(-170deg, #e8eba9e0, #ffcdb3, #e6989b 90%);
}

body .block {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: url(../img/bgBlock/cool-background.png) center/cover no-repeat;
  top: 30%;
  right: 4%;
  position: absolute;
  z-index: -1;
}

body .block::before {
  content: '';
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(-135deg, #ca2f49e0, #e7c75d 90%);
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 10%;
  z-index: inherit;
}

body .wrapper {
  overflow: hidden;
  cursor: url(../img/cursor/paw.png), pointer;
}

body .wrapper .menu {
  position: fixed;
  width: 100%;
  background: rgba(250, 250, 250, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(250, 250, 250, 0.25);
  z-index: 100;
}

body .wrapper .menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 990px;
  height: 44px;
  margin: 0 auto;
  position: relative;
}

body .wrapper .menu .container .logo {
  width: 30px;
  height: 30px;
  overflow: hidden;
}

body .wrapper .menu .container .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .wrapper .menu .container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  z-index: 100000;
}

body .wrapper .menu .container .nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  width: 70%;
}

body .wrapper .menu .container .nav .nav-links li {
  font-family: "Otomanopee One", sans-serif;
  font-size: 18px;
}

body .wrapper .menu .container .nav .nav-links li a {
  color: #333;
  padding: 4px 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px;
  -webkit-transition: background .2s linear,
 color .2s linear;
  transition: background .2s linear,
 color .2s linear;
}

body .wrapper .menu .container .nav .nav-links li a:hover {
  background: #e6989b;
  color: #f1f3be;
  -webkit-transition: background .2s linear,
 color .2s linear;
  transition: background .2s linear,
 color .2s linear;
}

body .wrapper .menu .container .nav .nav-links li.active a {
  background: #e6989b;
  color: #f1f3be;
}

body .wrapper .menu .container .nav .telephone {
  width: 30%;
  list-style: none;
}

body .wrapper .menu .container .nav .telephone li {
  font-family: "Poppins", sans-serif;
}

body .wrapper .menu .container .nav .telephone li a {
  font-size: 18px;
  font-weight: 700;
  color: #202020;
  text-decoration: none;
}

body .wrapper .menu .container .nav .telephone li a img {
  position: relative;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}

body .wrapper .menu .container .nav .telephone li a:hover {
  opacity: 0.6;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

body .wrapper .first-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100vh;
}

body .wrapper .first-window .content-first {
  width: 44%;
  margin: 0 20px;
}

body .wrapper .first-window .content-first .text-first {
  padding: 20px 20px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

body .wrapper .first-window .content-first .text-first .text-h1 {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Otomanopee One", sans-serif;
  font-size: 4em;
  color: #e6989b;
  line-height: 1.1em;
}

body .wrapper .first-window .content-first .text-first .text-h1 span {
  font-family: "Poppins", sans-serif;
  color: #2b7399;
  letter-spacing: 4px;
}

body .popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #e8eba9e0, #ffcdb3, #e6989b 80%);
  z-index: 100000;
}

body .popup .pop {
  width: 200px;
  height: 200px;
  position: absolute !important;
  background: linear-gradient(-120deg, #e6989b, #f1f3be);
  border-radius: 50%;
  z-index: 1;
}

body .popup .pop::before {
  content: '';
  bottom: 5%;
  left: -40%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#f25c5a), to(#e8c468));
  background: linear-gradient(#f25c5a, #e8c468);
  -webkit-animation: rotate 4s linear infinite;
          animation: rotate 4s linear infinite;
  pointer-events: none;
}

body .popup .animate {
  -webkit-animation: pop 10s linear infinite;
          animation: pop 10s linear infinite;
}

body .popup .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  bottom: 100px;
  top: 1%;
  z-index: 2;
}

body .popup .content .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  height: 350px;
  background: rgba(250, 250, 250, 0.1);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 10px;
  border-top: 3px solid rgba(250, 250, 250, 0.25);
  border-left: 2px solid rgba(250, 250, 250, 0.25);
  -webkit-box-shadow: 0 0 20px rgba(250, 250, 250, 0.4);
          box-shadow: 0 0 20px rgba(250, 250, 250, 0.4);
}

body .popup .content .card .closed {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  right: -25px;
  background: rgba(250, 250, 250, 0.4);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

body .popup .content .card .closed::before {
  content: '';
  width: 20px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 16px;
  background: #333;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body .popup .content .card .closed::after {
  content: '';
  width: 20px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 16px;
  background: #333;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .popup .content .card .closed:hover {
  background: #fafafa;
}

body .popup .content .card .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 30%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(250, 250, 250, 0.05);
  border-radius: 4px;
}

body .popup .content .card .img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

body .popup .content .card .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  height: 100%;
  text-align: left;
}

body .popup .content .card .text h1 {
  margin: 0;
  padding: 0 0 6px;
  color: #e6989b;
  font-family: "Otomanopee One", sans-serif;
  font-size: 2em;
  text-transform: capitalize;
  letter-spacing: 2px;
}

body .popup .content .card .text p {
  font-size: 1.2em;
  color: #fff;
}

body .popup .content .card .text .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  width: 100px;
  height: 40px;
  font-size: 1.2em;
  color: #e6989b;
  border-radius: 20px;
  background: #f1f3be;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
}

body .popup .content .card .text .btn span {
  padding: 0;
  margin: 0;
}

body .popup .content .card .text .btn:hover {
  background: #e6989b;
  color: #f1f3be;
}

@-webkit-keyframes pop {
  0% {
    top: 20%;
    left: 20%;
    position: fixed;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    top: 20%;
    left: 20%;
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes pop {
  0% {
    top: 20%;
    left: 20%;
    position: fixed;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    top: 20%;
    left: 20%;
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@media (max-width: 990px) {
  body .popup .content .card {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 380px;
    height: 580px;
  }
  body .popup .content .card .img {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    width: 100%;
  }
  body .popup .content .card .img img {
    position: relative;
    top: 2%;
    left: 5%;
    width: 50%;
    height: auto;
  }
  body .popup .content .card .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .popup .content .card .closed {
    position: absolute !important;
    top: 0;
    right: 0;
    z-index: 100000;
  }
}

@media (max-width: 570px) {
  body section .pop {
    display: none;
  }
  body section .content .card {
    width: 200px;
    height: 320px;
  }
  body section .content .card .img {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    width: 100%;
  }
  body section .content .card .img img {
    position: relative;
    top: 2%;
    left: 5%;
    width: 50%;
    height: auto;
  }
  body section .content .card .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body section .content .card .text h1 {
    padding-top: 60px;
    font-size: 24px;
    line-height: 1em;
  }
  body section .content .card .text p {
    font-size: 18px;
    line-height: 1.1em;
    padding: 0 0 4px;
  }
}
/*# sourceMappingURL=style.css.map */
